@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
  --yellow:#feed01;
  --purple:#8900f2;
  --white:#fff;
  --border:0.3rem solid var(--purple);
  --box-shadow:0 0.8rem 1rem rgba(0,0,0.2);

}


*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform:capitalize;
    cursor: none;
}

*:active >.cursor{
    transform: translateX(-40%) rotate(-30deg);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
}

section{
    padding: 5rem 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    position: relative;
}


html::-webkit-scrollbar{
    width: 0.5rem;
}

html::-webkit-scrollbar-track{
    background: var(--yellow);
}

html::-webkit-scrollbar-thumb{
background: var(--purple);
}

body{
    background: var(--yellow);
    overflow-x: hidden;
}


.cursor{
    position: absolute;
    top: -5rem;left: -8rem;
    height:2.5rem;
    pointer-events: none;
    z-index: 10000;
    transition-duration: 50ms;
}

.header{
    padding: 1.5rem 8%;
    position: fixed;
    top: 0;left: 0;right: 0;
    z-index: 1;
    background: var(--yellow);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo{
    font-family: 'Cedarville Cursive', cursive;
    font-size: 2.2rem;
    color: var(--purple);
}

/* .header #menu-btn {
    height: 4rem;
    width: 4rem;
    line-height: 3.5rem;
    border-radius: 50%;
    border: var(--border);
    background: var(--white);
    font-size: 1.5rem;
    text-align: center;

} */
/* 
.header #menu-btn:hover {
background: var(--purple);
color: var(--white);
} */

.navbar {
    position: fixed;
    right: 0;
    padding: 0 5rem;
    display: flex;
    flex-direction: row;
    z-index: 1;
    justify-content:space-between;
    align-items: center;
    }

.navbar.active{
    top:15%;
}

.fas{
color: var(--purple);
}

.far{
    color: var(--purple);
}

.navbar a{
    font-size: 2rem;
    font-weight: 300;
    color: var(--purple);
    transition: .2s linear ;
    padding: 1rem 2rem;
    text-align: center;
}

.navbar a:hover{
    color:var(--yellow) ;
    background: var(--purple);
    font-size:2rem ;
    transition: .8s ;
}

.home{
    margin-top: 4rem;
    position: relative;
    line-height: 4rem;

}

.home h3{
    text-align: center;
    font-size: 5.2vw;
    text-transform: uppercase;
    color: var(--purple);
    z-index: 10;
}

.home .home-text{
    -webkit-text-stroke: .2rem var(--purple);
    font-size: 6vw;
    color: var(--white);
    z-index: 10;
}

/*   background animation*/

.home .square{
    height: 2.5rem;
    width: 2.5rem;
    clip-path: polygon(5% 11%, 94% 11%, 83% 80%, 9% 95%);
    border-radius: 10%;
    position: relative;
    top:5rem;
    left:5%;
    background-color: var(--purple);
    animation: round 5s infinite alternate;
}



.home .triangle{
    height: 2.8rem;
    width: 2.5rem;
    clip-path: polygon(29% 12%, 0% 100%, 100% 100%);
    position: absolute;
    bottom:10%;
    right: 12%;
    background-color: #5a189a;
    animation: move 2.7s infinite alternate;
}

.home .circle{
    height: 2.5rem;
    width: 2.5rem;
    clip-path: circle(50% at 50% 50%);
    position: relative;
    top: 20%;
    left:20%;
    background-color: #9602ec;
    animation: move 2.96s infinite alternate;
}

.home .square-2{
    top: 8%;
    right:5%;
    position: absolute;
    height: 2rem;
    width: 2.5rem;
    background-color: transparent;
    border: .3rem solid #5603ad;
    animation: round 4s infinite alternate;
}

.home .circle-2{
    height: 3rem;
    width: 3rem;
    position: absolute;
    top:10%;
    right: 28%;
    border-radius: 90%;
    background-color: transparent;
    border: .3rem solid #e0aaff ;
    animation: move 2s infinite alternate;
}

.home .square-3{
    bottom: 10%;
    left:5%;
    position: absolute;
    height: 2rem;
    width: 2.5rem;
    background-color: transparent;
    border: .3rem solid #a34ffd;
    animation: round 3.4s infinite alternate;
}

.home .triangle-2{
    height: 2.3rem;
    width: 2.8rem;
    clip-path: polygon(29% 12%, 0% 100%, 100% 100%);
    position: absolute;
    bottom:10%;
    right: 12%;
    background-color: #c082ff;
    animation: move 2.9s infinite alternate;
}

.home .square-4{
    height: 2.9rem;
    width: 2.9rem;
    clip-path: polygon(5% 11%, 94% 11%, 83% 80%, 9% 95%);
    border-radius: 10%;
    position: relative;
    top: 0;
    left:6%;
    background-color: #ce9ffd;
    animation: round 5s infinite alternate;
}

.home .triangle-3{
    height: 2.4rem;
    width: 2.8rem;
    clip-path: polygon(29% 12%, 0% 100%, 100% 100%);
    position: absolute;
    top: 10%;
    left:45%;
    background-color: #c489ff;
    animation: round 3.2s infinite alternate;
}

.home .square-5{
    height: 2.9rem;
    width: 2.9rem;
    clip-path: polygon(5% 11%, 94% 11%, 83% 80%, 9% 95%);
    position: absolute;
    bottom: 45%;
    right:13%;
    background-color: #8627e6;
    animation: round 4.6s infinite alternate;
}

.home .circle-3{
    height: 4rem;
    width: 4rem;
    position: absolute;
    top:50%;
    left: 10%;
    border-radius: 90%;
    background-color: transparent;
    border: .3rem solid #d294f7 ;
    animation: move 2.2s infinite alternate;
}

.home .circle-4{
    height: 5rem;
    width: 5rem;
    position: absolute;
    top:55%;
    left: 50%;
    border-radius: 90%;
    z-index: -1;
    background-color: #6805a1 ;
    animation: move 2.5s infinite alternate;
}

/*   background animation  ends*/

.about h1{
    font-size: 3rem;
    color: var(--purple);
}


.about .about-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: justify;
    padding: 1rem 0;
}

.about-content .about-me{
    margin: 0;
    padding:1rem 0;
    box-sizing: border-box;
    color: var(--black);
    font-size: 1.8rem;
}

.about-content .about-img{
  margin: 0;
  padding:0;
}

.about-content img{
    width: 40rem;
    height :30rem;
    margin-left: 5rem;
    animation: move 2s infinite alternate;
}

.skills .container{
display: flex;
justify-content: space-between;
flex-direction: row;
}

.grid-content{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding:3rem 3rem 3rem 0;
}

.grid-content div img{
    width: 10rem;
    height: 10rem;
    padding: 1rem;
    animation: move 3s infinite alternate;
}

.grid-item{
  text-align: center;
}

.fa-git-alt{
    animation: move 3s infinite alternate;
}


.grid-item>.fa-github{
    animation: move 3s infinite alternate;
}

.skills-content{
    font-size: 1.7rem;
    padding-left: 10%;
    padding-top: 6%;
}

.skills>h1{
    font-size: 2.5rem;
    text-align: center;
    text-decoration: underline;
    color: var(--purple);
    padding-bottom: 0;
}

.projects h1{
    font-size: 2.5rem;
    text-align: center;
    text-decoration: underline;
    color: var(--purple);
}

.projects .projects-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4rem 1rem 0 0;
}

.projects-cards .card{
    font-size: 1.8rem;
    background-color: transparent;
    border-radius: 15%;
    border: 0.2rem solid var(--purple);
}

.projects-cards .card-body {
    text-align: center;
}

footer{
    height: auto;
    width: 100vw;
    margin-top: 8%;
    padding: 5% 30% ;
    color: var(--purple);
}

.footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-content h3{
    font-size: 4rem;
    font-weight: 600;
    line-height: 3rem;
}

.footer-content p{
    font-size: 1.8rem;
    padding-bottom: 20%;
    padding-top: 0;
}

.footer-content li{
    list-style-type: none;
}

.footer-bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:20%;
    padding-bottom: 0;
    margin-bottom: 0;
}

.footer-bottom p{
    font-size: 1.4rem;
    text-align: center;
}







































/* animation  */

@keyframes round{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }

}

@keyframes move{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translatey(4rem);
    }
}







/* Media Queries */

@media (max-width:1200px){
 .header{
     padding: 1.5rem 5%;
 }
 .navbar a{
    font-size: 2rem;
    color: var(--white);
    transition: .2s linear ;
    padding: 0.4rem 0.8rem;
}

section{
    padding: 3rem 5%;
}

}

@media (max-width:1020px){
    html{
        font-size: 55%;
    }
    .cursor{
        display: none;
    }
    .header{
        padding: 1.2rem 2rem;
    }

    .navbar.active{
        top: 10%;
    }

    .navbar{
        width: 23%;
        height:50%;
    }

    section{
        padding: 3rem 2rem;
    }

    .home .home-img{
        position: fixed;
    }
}


 @media (max-width:768px){
    .header{
        padding: 1.2rem 5%;
    }
    .navbar{
        width: 100%;
        border: none;
    }

    .navbar.active{
        right:0;
    }

    .navbar a{
        font-size: 2rem;
        color: var(--white);
        transition: .2s linear;
        border:0.2rem solid var(--white);
        padding:0.5rem 0.6rem ;
    }

   .navbar a {
       transition: all 0.3s ease 0s;
    }

    .navbar a:hover{
        font-size:3rem ;
        padding: 2rem 2.2rem;
    }


   }

   