@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
  --yellow:#feed01;
  --purple:#8900f2;
  --white:#fff;
  --border:0.3rem solid var(--purple);
  --box-shadow:0 1rem 1.5rem rgba(0,0,0.3);

}


*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform:capitalize;
    cursor: none;
}

*:active >.cursor{
    transform: translateX(-40%) rotate(-30deg);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
}

html::-webkit-scrollbar{
    width: 0.5rem;
}

html::-webkit-scrollbar-track{
    background: var(--yellow);
}

html::-webkit-scrollbar-thumb{
background: var(--purple);
}

body{
    background: var(--yellow);
    overflow-x: hidden;
}

.cursor{
    position: absolute;
    top: -5rem;left: -8rem;
    height:3rem;
    pointer-events: none;
    z-index: 10000;
    transition-duration: 100ms;
}

.header{
    padding: 1.5rem 10%;
    position: fixed;
    top: 0;left: 0;right: 0;
    z-index: 1000;
    background: var(--yellow);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo{
    font-size: 2.5rem;
    color: var(--purple);
}

.header #menu-btn {
    height: 5rem;
    width: 5rem;
    line-height: 4.7rem;
    border-radius: 50%;
    border: var(--border);
    background: var(--white);
    font-size: 1.7rem;
    text-align: center;

}

.header #menu-btn:hover {
background: var(--purple);
color: var(--white);
}

.navbar {
    position: fixed;
    width: 25%;
    height:70%;
    bottom: 15%;
    right: -120%;
    background: var(--purple);
    padding: 0 5%;
    z-index: 1000;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    border: 0.5rem solid white;
    transition: .4s linear;
}

.navbar.active{
    right:10%;
}

.fa-bars{
color: var(--purple);
}

.navbar a{
    font-size: 3rem;
    color: var(--white);
    transition: .2s linear ;
}

.navbar a:hover{
    color:var(--purple) ;
    background: var(--white);
    font-size:2.3rem ;
    padding: 1.5rem 1.8rem;
}